body{
    background-color: rgb(247, 245, 238);
}
.Header{
    background-color:whitesmoke;
    height: 100px;
    width: 80%;
    margin: auto;
    position: relative;

}
.Secretbase-pic{
    width: 80px;
    height: 80px;
    float: left;
    padding: 10px;
    padding-left: 30px;
}
.Header-list li{
    font-family: "CookieRun Black";
    font-size: 20px;
    list-style: none;
    float: left;
}
.Site-Title{
    padding: 35px;
    margin-right: auto;

}
.Left-list{
    position: absolute;
    right: 0;
}
.About-click{
    padding: 35px;

}
.About-page{
    color: black;
}
.connect{
    padding: 25px;

}
.Photo{
    position: relative;
    width:80%;
    text-align:center;
    margin: auto;
}
.Photo-img{
    width:100%;
    padding-top: 5%;
    filter: blur(3px);
}
.Title-comment{
    font-family: "CookieRun Black";
    font-size: 350%;
    text-align:center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.About-describe{
    font-family: "CookieRun Black";
    text-align:center;
    padding: 50px;
    position: relative;
}
.Asuka-topic{
    float: left;
    font-family: "マメロン 5 Hi Regular";
    position:absolute;
    display: flex;
    left: 10%;
    max-width: 750px;
}
.Asuka-pic{
    width: 100%;
    height: 100%;
}
.Asuka-name{
    width: 100%;
    margin: 20px;
}
