@font-face {
  font-family: 'CookieRun Black';
  src: url('font/CookieRun Black.woff2') format('woff2');
}
@font-face {
  font-family: 'Mamelon-5-Hi-Regular';
  src: url('font/Mamelon-5-Hi-Regular.woff2') format('woff2');
}
body{
    background-color: rgb(247, 245, 238);
}
.header{
    background-color:whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    margin: auto;
    padding: 10px;

}
.Top{
    margin-top: 100px;
}
.Sbico{
    width: 80px;
    height: 80px;
    float: left;
    padding: 10px;
    padding-left: 30px;
}
.Hl li{
    font-family: "CookieRun Black";
    font-size: 20px;
    list-style: none;
    float: left;
}
.St{
    padding: 35px;
    margin-right: auto;

}
.Lr{
    position: absolute;
    right: 0;
}
.About{
    padding: 35px;

}
.Ap{
    color: black;
}
.Cc{
    padding: 25px;

}
.Top{
    position: relative;
    width:80%;
    text-align:center;
    margin: auto;
}
.Ti{
    width:100%;
    padding-top: 5%;
    filter: blur(3px);
}
.Tc{
    font-family: "CookieRun Black";
    font-size: 350%;
    text-align:center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.Dc{
    font-family: "CookieRun Black";
    text-align:center;
    padding: 50px;
    position: relative;
}
.Topic-Asuka{
    float: left;
    font-family: "Mamelon-5-Hi-Regular";
    position:absolute;
    display: flex;
    left: 10%;
    max-width: 750px;
}
.Picture{
    width: 100%;
    height: 100%;
}
.Name{
    width: 100%;
    margin: 20px;
}
